src/recuit/recuit.pro*
src/recuit/build*
src/recuit/recuit/a.out
*.pri
*.autosave

src/build-recuit-Desktop_Qt_5_4_1_MSVC2013_64bit-Debug/*
src/build-recuit-Desktop_Qt_5_4_1_MSVC2013_64bit-Debug/debug/connection.obj
src/build-recuit-Desktop_Qt_5_4_1_MSVC2013_64bit-Debug/debug/connection.obj
*.obj
*.obj
*.obj
src/recuit/deployment.pri
